.frentes{
  background-color: $gray-cdi;
  justify-content: center;
  display: block;
  @include mq('md'){
    display: flex;
    flex-wrap: wrap;
  }
  &-item{
    .titulo{
      background-color: $green-cdi;
    }
    .texto{
      background-color: $black;
    }


    display: block;
    text-align: center;
    padding: rem(8px) rem(15px);
    @include mq('md') {
    padding: rem(30px) rem(0px) 0 rem(0px);
    width: 20%;
    margin: rem(50px) rem(20px);
    }
    img {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    margin-bottom: rem(15px) auto;
    &:hover {filter: opacity(.5);}
  }
  a{
    p{
      padding: rem(20px);
      font-weight: 700;
      color: $white;
    }
  }

  }
}
