@font-face {
    font-family: 'Gomme';
    src: url('../fonts/sally/Gomme-Sans-W04-SemiBold.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'Asap';
    src: url('../fonts/sally/AsapCondensed-Regular.woff') format('woff');
    font-style: normal;
}
