.fancybox-content {
  border-radius: 22px;
    .popup{
      h2{
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        span{
          color: $green-cdi;
          font-style: italic;
          text-decoration: underline;
          font-weight: 100;
        }
      }
    }

}

#personal{
  .popup{
    h2{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    }
  }

  header{
    padding: rem(8px) rem(45px);
    @include mq('md') {
    padding: rem(30px) rem(30px) 0 rem(30px);
    margin: rem(50px) rem(20px);
    }
    h2{
      font-weight: 700;
      color: $green-cdi;
    }
  }
}
.personal{
  justify-content: center;
  display: block;
  @include mq('md'){
    display: flex;
    flex-wrap: wrap;
  }

  &-item{

    .equipo--item{
      .equipo--caption{
        .nombre{
          h3{
            color: $black;
            font-weight: 700;
          }
        }
        .cargo{
          h3{
            color: $green-cdi;
            font-style: italic;
          }
        }
      }
    }

    display: block;
    padding: rem(8px) rem(45px);
    @include mq('md') {
    padding: rem(30px) rem(30px) 0 rem(30px);
    width: 30%;
    margin: rem(50px) rem(20px);
    }
    img {
      padding: 15%;
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    margin-bottom: rem(15px) auto;
    }
    p{
      a,i{
        color: $green-cdi;
      }
    }
    .titulo{
      #pedorini,#villegas,#cardona,#garnica,#murillo{
        display: none;
      }
    }
    .info{
      display: flex;
      .icono{
        img{
          margin-right: 8px;
          padding-right: 20px;
        }
      }
    }
  }
}
